<div class="container-fluid" id="fmsSaleOrder" data-ng-controller="saleOrderCtrl">
	 <div class="row">
	        <div class="col-xs-12 col-sm-9 col-md-offset-2" >
	        	<div class="panel-group" id="accordion" ng-show="isNewOrder">
	        		<div class="panel panel-default">
	        			<div class="panel-heading"> <h2>Generate Sale Order</h2>   </div>
	        		</div>	
	               	<div class="panel panel-default">	
	               		<div class="panel-heading" data-toggle="collapse"  data-parent="#accordion" href="#searchAndAdd"> <h4>Search And Add Product</h4>   </div> 
	               		<div id="searchAndAdd" class="panel-collapse collapse in">
	               			<div class="panel-body" >
	               			<div class="alert alert-info" id = "infoDiv" style="display:none">
  							<strong>Enter quantity to add product in order list</strong> 
							</div>
							 <div class="table-responsive" style="overflow-x: auto;"> 
				                <table  class="table table-striped table-hover" id="productTable">
				                    			<tr>
				                    				<th>Product Name</th>
				                    				<th>Quantity(In Bag)</th>
				                    				<th>Available Stock</th>
				                    				<th>Unit Price</th>
				                    				<th>Product Type</th>
				                    				<th>Total Price</th>
				                    				<th>Action</th>
				                    				
				                    		 	</tr>
				                    		 	<tr  ng-form name="myForm">
				                    		 		<td><input type="text" class="form-control" id="productSearch" ng-model="productSearchKey" placeholder="Type here to search product" auto-complete /></td>
				                    		 		<td><input type = "number" id ="prodQuan" ng-model="product.orderedQuantity" min = "1" ng-change="calculatePrice(product)" ng-class="{error:product.quantity==null}" size="5" title="Enter quantity to add product"/>
			                    		 				<span class="error" ng-show="product.orderedQuantity>product.quantity">Out of stock</span></td>
				                    		 		<td>{{product.quantity}}</td>
				                    		 		<td>{{product.sellingPrice}}</td>
				                    		 		<td>{{product.productDetail.productType.typeDesc}}</td>
				                    		 		<td>{{product.price}}</td>
				                    		 		<td><button type="submit" class="btn btn-success btn-sm" ng-click="addThisProduct(product)" title="Add to order" ng-disabled="isProductAdded"><span class="glyphicon glyphicon-plus"></span></button></td>
				                    		 	
				                    		 	</tr>
				                   </table>
				                  </div> 
				                  <hr> 
				                <div id="orderDetails" ng-show="showOrderDetails">   
						            <div class="panel-heading" > <h5><b>Order List</b></h5>   
			               			</div>  
			               			  <div class="table-responsive" style="overflow-x: auto;"> 
						                 <table   class="table table-striped table-hover">
			                    		 	<tr ng-repeat="product in selectedProductList track by product.stockId">
			                    		 		<td>{{product.productName}}</td>
			                    		 		<td>{{product.orderedQuantity}}</td>
			                    		 		<td>{{product.availableQuantity}}</td>
			                    		 		<td>{{product.sellingPrice}}</td>
			                    		 		<td>{{product.productType}}</td>
			                    		 		<td>{{product.price}}</td>
			                    		 		<td><button type="submit" class="btn btn-success btn-sm" ng-click="deleteThisProduct(product)" title = "Delete from order"><span class="glyphicon glyphicon-minus"></span></button></td>
			                    		 	
			                    		 	</tr>
			                    	</table>
			                    	</div>
			                    	<hr>
			                    	<div class="col-md-12 col-md-offset-7">
			                    	 		<label for="agencyName" class="col-sm-2">Total Price:</label>
			                    	 		<div class="col-sm-2">Rs. {{totalPrice}}</div>
			                                <button type="submit" class="btn btn-success btn-sm" data-toggle="collapse" data-parent="#accordion" data-target="#retailerInfo" ng-click="continueToRetailer();" ng-disabled="validate">Continue</button>
			                    	</div>
		                     </div>	
	                      
	                    </div>
	                  </div>
	              </div>      
	               <div class="panel panel-default">	
	               		<div class="panel-heading" data-toggle="collapse"> <h4>Select A Retailer</h4>   
	               		</div> 
	               	    <div id="retailerInfo" class="collapse">	       
	                      <div class="panel-body" >
	                    		<div class="table-responsive" style="overflow-x: auto;"> 
				                   	<table  class="table table-striped table-hover"  id="retailerTable">
				                    			<tr>
				                    				<th>Retailer Name</th>
				                    				<th>Retailer License Number</th>
				                    				<th>Retailer Email</th>
				                    				<th>Retailer Mobile Number</th>
				                    				<th>Action</th>
				                    				
				                    		 	</tr>
				                    		 	<tr>
				                    		 		<td><input type="text" class="form-control" id="retailerSearch" ng-model="retailerSearchKey" placeholder="Type here to search retailer" retailer-complete />
	                    		 					<td>{{retailer.retailerPanNumber}}</td>
	                    		 					<td>{{retailer.email}}</td>
	                    		 					<td>{{retailer.mobileNumber}}</td>
				                    		 		<td><input type="checkbox" class="checkbox" id ="selectRetailer" title="Select Retailer to Proceed" ng-click="saveRetailer(retailer)"/></div></td>
				                    		 	</tr>
				                 	  </table>
				                 	 </div> 
				                   <hr>
				                   <div class="col-md-8 col-md-offset-8">
			                    	 		<label for="price" class="col-sm-2">Order Price:</label>
			                    	 		<div class="col-sm-2">Rs. {{totalPrice}}</div>
			                                <button type="submit" class="btn btn-success btn-sm" data-toggle="collapse" data-parent="#accordion" data-target="#paymentInfo" ng-click="continueToPayment();" ng-disabled="!validateRetailer">Continue</button>
			                    	</div>
	                    
	                    </div>
	                 </div>
	            </div>
	            <div class="panel panel-default">	
	               		<div class="panel-heading" data-toggle="collapse"> <h4>Payment</h4>   
	               		</div> 
	               	    <div id="paymentInfo" class="collapse">	       
	                      <div class="panel-body" >
	                      		<form class="form-horizontal" role="form" name="orderForm" novalidate>
	                      		<div class="form-group">
			                        <label for="billNumber" class="col-sm-3 control-label">Order Challan Number:</label>
			                           <div class="col-sm-3">
	                                		<input type="text" class="form-control" name = "challanNum" ng-model="order.challanNumber" placeholder="Challan Number" maxlength = "50" required />
	                            		
		                            		<div class="help-inline">
		                            		<span class="error" ng-show="orderForm.challanNum.$dirty && orderForm.challanNum.$invalid">
											<span ng-show="orderForm.challanNum.$error.required">challan Number is required.</span></span>
											</div>
										</div>	
			                            
			                         <label for="billDate" class="col-sm-3 control-label">Challan Date:</label>
			                            <div class="col-sm-3 ">
	    									<div class="input-group">
	    										<mydatepicker data-ng-model="order.challanDate" date-options="dateOptions" opened="opened"/>
	    									</div>
    									
	                             </div>
	                            </div> 
	                    
			                    	<div class="form-group">
			                            <label for="retailerName" class="col-sm-3 control-label">Retailer Name:</label>
			                            <label for="retailerName" class="col-sm-2 control-label">
			                            	{{retailerName}} 
			                            </label>
			                            <label for="totalOrder" class="col-sm-4 control-label">Order price:</label>
			                            <label for="price" class="col-sm-2 control-label" id = "priceLabel">
			                            	Rs. {{order.orderPrice}} 
			                            </label>
			                        </div>
				                   <hr>
			                        <div class="form-group">
				                        <label for="dispatchFrom" class="col-sm-3 control-label">Dispatch From:</label>
				                           <div class="col-sm-3" ng-class="{error:!orderForm.fromLoc.$valid}">
	                                		<input type="text" class="form-control" name = "fromLoc" ng-model="transport.sourceLoc" placeholder="Place Name" maxlength = "50" required />
	                            		
		                            		<div class="help-inline">
		                            		<span class="error" ng-show="orderForm.fromLoc.$dirty && orderForm.fromLoc.$invalid">
											<span ng-show="orderForm.fromLoc.$error.required">Dispatch from location is required.</span></span>
											</div>
										</div>
				                        <label for="receivedLoc" class="col-sm-2 control-label">To:</label>
				                           <div class="col-sm-3">
	                                		<input type="text" class="form-control" name="toLoc" ng-model="transport.destinationLoc" placeholder="Place Name" maxlength = "50" required />
		                            		<div class="help-inline">
		                            		 <span class="error" ng-show="orderForm.toLoc.$dirty && orderForm.toLoc.$invalid">
											<span ng-show="orderForm.toLoc.$error.required">Dispatch  to locations is required.</span></span>
											</div>
										</div>	
				                   </div> 
				                   
				                     <div class="form-group">
				                      <label for="receivedLoc" class="col-sm-3 control-label">Transport Name:</label>
				                           <div class="col-sm-3">
	                                		<textarea class="form-control" name="transporterAdd" ng-model="transport.transporterAddress" placeholder="Transporter Address" maxlength = "100" required />
		                            		<div class="help-inline">
		                            		 <span class="error" ng-show="orderForm.transporterAdd.$dirty && orderForm.transporterAdd.$invalid">
											<span ng-show="orderForm.transporterAdd.$error.required">Transporter Address is required.</span></span>
											</div>
										</div>	
										<label for="agencyContact" class="col-sm-2 control-label">Contact Number</label>
			                            <div class="col-sm-3">
			                                <input type="text" class="form-control" ng-model="transport.mobileNumber" name="mobileNum" maxlength = "10" placeholder="Mobile Number" numbers-only="numbers-only" required >
			                            
				                            <div class="help-inline">
				                             <span class="error" ng-show="orderForm.mobileNum.$dirty && orderForm.mobileNum.$invalid">
											<span ng-show="orderForm.mobileNum.$error.required">Transporter Mobile Number is required</span></span>
											</div>	
										</div>	
									</div>	
								    <div class="form-group">	
				                        <label for="dispatchFrom" class="col-sm-3 control-label">Transport Mode:</label>
				                           <div class="col-sm-3">
	                                		<select  class="form-control" ng-model="transport.transportMode"> 
					                                	<option value="road" selected="selected">By Road</option>
								                        <option value="train">By Train</option>
					                                </select>
	                            		</div>
				                        <label for="receivedLoc" class="col-sm-2 control-label">Vehicle Number:</label>
				                           <div class="col-sm-3">
	                                		<input type="text" class="form-control" name="vehicleNum" ng-model="transport.vehicleNum" placeholder="Vehicle Number" maxlength = "20" required />
		                            		<div class="help-inline">
		                            		 <span class="error" ng-show="orderForm.vehicleNum.$dirty && orderForm.vehicleNum.$invalid">
											<span ng-show="orderForm.vehicleNum.$error.required">Vehicle Number is required.</span></span>
											</div>
										</div>	
				                   </div> 
				                   
				                  <hr> 
				                    <div class="form-group">
				                        <label for="labourCost" class="col-sm-3 control-label">Labour Fee(Rs.):</label>
				                           <div class="col-sm-3">
	                                		<input type="text" class="form-control" ng-model="order.labourFee" value = "0" maxlength = "20" required   ng-blur="calcOrderPriceWithLabour()"/>
	                            		</div>
				                        <label for="labourCost" class="col-sm-2 control-label">Shipping Fee(Rs.):</label>
				                           <div class="col-sm-3">
	                                		<input type="text" class="form-control" ng-model="order.shippingFee" value = "0" maxlength = "20" required  ng-blur="calcOrderPriceWithShipping()"/>
	                            		</div>
				                   </div> 
				                   <div class="form-group">
						                   <label for="orderTotal" class="col-sm-3 control-label">Order Total:</label>
					                            <label for="price" class="col-sm-2 control-label" id = "priceLabel">
					                            	Rs. {{order.orderTotalPrice}} 
					                        </label>
					                         <label for="paymentMode" class="col-sm-3 control-label">Payment Mode:</label>
					                            <div class="col-sm-3">
					                             <select  class="form-control" ng-model="order.paymentMode"> 
					                                	<option value="cash" selected>Cash On Delivery</option>
								                        <option value="credit">On Credit</option>
								                        <option value="NEFT">Payment Through Bank</option>
					                                </select>
					                            </div>
			                        </div>
			                         
			                   	<hr>
			                     <div class="form-group last">
	                            	<div class="col-sm-offset-3 col-sm-6" >
		                                <button type="submit" class="btn btn-success btn-sm" analytics-on="click" analytics-event="save Order" analytics-category="saveOrder" ng-click="saveOrderDetails()" ng-disabled="orderForm.$invalid">Generate Order</button>
	                            </div>
	                        </div>
	                       </form> 
	                      
	                      </div>
	                    </div>
	            </div>               
	        
	        </div>
	        <div class="panel panel-default" ng-show="!isNewOrder">
	        		<div class="panel-heading"> <h2>Orders</h2>
	               		 </div>
	               	<div class="panel-body">
	               		<div class="table-responsive" style="overflow-x: auto;"> 
	                    	<table   class="table table-striped table-hover">
	                    			<tr>
	                    				<th ng-click="sort('order_id')">Challan Number
	                    					<span class="glyphicon sort-icon" ng-show="sortKey=='order_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> 
	                    				</th>
	                    				<th ng-click="sort('retailer_name')">Retailer Name
	                    					<span class="glyphicon sort-icon" ng-show="sortKey=='retailer_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> 
	                    				</th>
	                    				<th>Product </th>
	                    				<th>Order Price</th>
	                    				<th>Order Status</th>
	                    				<th>Payment Mode</th>
	                    				<th>Payment Status</th>
	                    				<th>Amount Paid</th>
	                    				<th>Challan Date</th>
	                    				<th>Transport</th>
	                    				<th>Action</th>
	                    		 	</tr>
	                    		 	<tr dir-paginate="generatedOrder in generatedOrderList|orderBy:sortKey:reverse|itemsPerPage:6">
	                    		 		<td>{{generatedOrder.order.challanNumber}}</td>
	                    		 		<td>{{generatedOrder.order.retailerDetail.retailerFirstName+" "+generatedOrder.order.retailerDetail.retailerLastName}}</td>
	                    		 		<td><a href="" ng-click="showProductDetails(generatedOrder.orderedProductList)">View Product</a></td>
	                    		 		<td>{{generatedOrder.order.orderTotalPrice}} </td>
	                    		 		<td>{{generatedOrder.order.orderStatus.description}}</td>
	                    		 		<td>{{generatedOrder.order.paymentMode}}</td>
	                    		 		<td ng-if="generatedOrder.order.paymentStatus ==false">Pending</td>
	                    		 		<td ng-if="generatedOrder.order.paymentStatus==true">Completed</td>
	                    		 		<td><a href="" ng-click="showPaymentDetails(generatedOrder.paymentDetailList,generatedOrder.order)">View Payment</a></td>
	                    		 		<td>{{generatedOrder.order.challanDate| date:'dd/MM/yyyy'}}</a></td>
	                    		 		<td><a href="" ng-click="showtransport(generatedOrder.transportDetail)">View Transport</a></td>
	                    		 		<td><button type="submit" class="btn btn-danger" ng-click="cancelOrder(generatedOrder.order.orderId)" ng-disabled="generatedOrder.order.orderStatusTypeId==4">Cancel</button></td>
	                    		 	
	                    		 	</tr>
	                    	</table>
	                    </div>	
	                    	<div class="col-xs-12">
		                    	<div class="col-sm-6">	
				                    	 <dir-pagination-controls max-size="6" direction-links="true" boundary-links="true" >
									    </dir-pagination-controls>
								</div>	    	
	                    	 <div class="col-sm-offset-3 pull-right" ng-show="role=='Admin'">
	                                <button type="submit" analytics-on="click" analytics-event="generate Order" analytics-category="generateOrder" class="btn btn-success btn-sm" ng-click="isNewOrder=!isNewOrder">Generate New Order</button>
	                         </div>
	                    	</div>	
	                    	<!-- <div class="popupOverlay" id="loadOverlay"  style="display:none;"></div>
								<div class="loadPopup" id="loadingCon"  style="display:none;">
								<load-popup></load-popup>
							</div>  --> 
	               	</div>
	        </div>
	        <div class="popupOverlay" id="loadOverlay"  style="display:none;"></div>
								<div class="loadPopup" id="loadingCon"  style="display:none;">
								<load-popup></load-popup>
							</div> 
	  </div>      
	</div>
</div>